# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Api_Site_Wpf.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
