@{
    ViewData[ "Title" ] = "Новостной сайт";
}

<section class="news-main">
    <article class="news-big">
        <img class="news-photo" src="img/news-photo/krim.png" alt="Крым"></img>

        <div class="news-text">
            <a href="#" class="news-category">Политика</a>
            <a href="#" class="news-link news-link--big">
                В Крыму отреагировали на&nbsp;слова Кравчука о&nbsp;возврате полуострова
            </a>

            <p class="news-info">
                <time class="news-date" datetime="2020-01-05T23:52">
                    19 июня 2018
                    <span class="news-time news-time--white">10:48</span>
                </time>

            </p>
        </div>
    </article>

    <div class="news-wrapper clear-fix">
        <article class="news">
            <img src="img/news-photo/small-1.png">
            <a href="#" class="news-link-bold">
                Алексей Навальный объявил акцию против пенсионной реформы 1 июля
            </a>
            <p class="news-info clear-fix">
                <a href="#" class="news-category">Политика</a>
                <time class="news-time" datetime="2020-01-05T23:52">
                    23:52
                    <span class="news-comments"> 15</span>
                </time>
            </p>
        </article>

        <article class="news">
            <img src="img/news-photo/small-2_.png">
            <a href="#" class="news-link-bold">
                Дума увеличила пошлины за выдачу загранпаспортов и водительских прав
            </a>
            <p class="news-info clear-fix">
                <a href="#" class="news-category">Общество</a>
                <time class="news-time" datetime="2020-01-05T23:52">
                    12:33
                    <span class="news-comments"> 36</span>
                </time>
            </p>
        </article>

        <article class="news">
            <img src="img/news-photo/small-3.png">
            <a href="#" class="news-link-bold">
                В России заработал стриминговый&nbsp;сервис
                <br>YouTube
            </a>
            <p class="news-info clear-fix">
                <a href="#" class="news-category">Интернет</a>
                <time class="news-time" datetime="2020-01-05T23:52">
                    11:17
                    <span class="news-comments"> 10</span>
                </time>
            </p>
        </article>
        <article class="news">
            <img src="img/news-photo/small-4.png">
            <a href="#" class="news-link-bold">
                Кейн&nbsp;признан&nbsp;лучшим игроком&nbsp;матча&nbsp;ЧМ-2018
                <br>Тунис — Англия
            </a>
            <p class="news-info clear-fix">
                <a href="#" class="news-category">ЧМ по футболу</a>
                <time class="news-time" datetime="2020-01-05T23:52">
                    23:52
                    <span class="news-comments"> 25</span>
                </time>
            </p>
        </article>

    </div>
</section>